html {

}

body {
    background: #7695ef; /* Old browsers */
    background: -moz-linear-gradient(left,  #7695ef 0%, #b98aea 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7695ef), color-stop(100%,#b98aea)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #7695ef 0%,#b98aea 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #7695ef 0%,#b98aea 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #7695ef 0%,#b98aea 100%); /* IE10+ */
    background: linear-gradient(to right,  #7695ef 0%,#b98aea 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7695ef', endColorstr='#b98aea',GradientType=1 ); /* IE6-9 */
}

/*=================================================
Clearfix
===================================================*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
    cursor:pointer;
}

/*=================================================
End Clearfix
===================================================*/

.float_right{
    float:right;
}

.float_left {
    float:left;
}

.chat_header {
    color: #fff;
    font-weight: 100;
    font-size: 2.5em;
}

.chat_users {
    text-align: right;
    width:30%;
    float:right;
}

.view {
	background-color: #D6EEF9;
}

.chat {
	height:auto;

	max-height: 75vh;
    overflow-y: overlay;
    overflow-x: hidden;
}

.login_wrapper {
    width:100%;
}

#login_head {
    color: #fff;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    margin: 2em;
}

.chat_user {
    font-weight: 200;
    color:#AFFFED;
}

.kick {
    padding: 4px 2px;
    background-color: yellow;
}

.ban {
    padding: 4px 2px;
    background-color: red;
}

.deop,
.op {
    padding: 4px 2px;
    background-color: gray;
}

.remove_pw {
    background-color: green;
}

.chat_header_container {
    float:left;
    width:48%;
}

.available_rooms {
    float:right;
    width:50%;
}

#login_form {
    text-align: center;
    margin:auto;
    width:50%;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-radius: none;
    padding:1em;
    color:#fff;
    background-color:rgba(255,255,255, 0.3);

    /* Remove box shadow */
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none,none;
    -o-transition: none, none;
    transition: none, none;
}

#footer_form {
    float: left;
    width: 75%;
    font-size: 1.5em;
    margin-bottom: 1em;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 1em;

    color:#fff;
    background-color:rgba(255,255,255, 0.5);

    /* Remove box shadow */
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none,none;
    -o-transition: none, none;
    transition: none, none;
}

.chat_btn {
    width: 25%;
    font-size: 2em;
    text-align: center;
    font-weight: 200;
    border:none;
    background-color: rgb(40, 125, 178);
    color:#fff;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.chat_btn:hover {
    background-color: rgb(43, 133, 189);
}

.chat_btn.create_btn {
    padding: 0.58em;
}

.login_button {
    margin:auto;
    display: inherit;
    border-radius: 2px;
}

.alert_message {
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    color: #BAF2FF;
    /* text-transform: uppercase; */
    margin: 1em;

    -webkit-animation-duration: 0.8s;
    -webkit-animation-iteration-count: 3;
}

.rooms-list {
	background-color: #D6EEF9;
}

.single_message {
    border-radius: 10px;
    margin: 1em 0em;
    padding: 0.2em 1em;
    width:100%;
    background-color: rgba(255, 174, 174, 1);
}

.single_message .msg_nick {
    font-size: 1.3em;
    float:left;
    width:45%;
    color:#FBFFBD;
    font-weight: 300;
    text-transform: uppercase;
}

.single_message .msg_nick span {
    margin-left:5px;
    color: #fff;
    text-transform: none;
}

.single_message .msg_timestamp {
    text-align: right;
    color:rgba(251, 255, 189, 1);
    float:right;
    width:50%;
}
/*
.single_message .msg_content {
    color:#fff;
    margin-left: 1em;
}
*/
.single_message .msg_content p{
    color:#fff;
    padding-left: 1em;
}

.create_room {
    position:fixed;
    bottom:0;
    width:1170px;
}

.list_of_things{
    width:100%;
}

.list_of_things ul {
    float:right;
    width:100%;
}

.list_of_things ul li {
    text-align: right;
    list-style: none;
}

a.chat_list_item.ng-binding {
    color:#fff;
    font-size: 2em;
}

a.chat_list_item.ng-binding:hover {
    color:#BAF2FF;
}

li.ng-binding {
    color:#fff;
    font-size: 2em;
}

.chat_list_item {
    color:#fff !important;
    font-size: 1.5em !important;
}

.list_of_things ul li a:hover {
    color:#287DB2;
}
.available_rooms h3 {
    float:right;
}

/* Angular animation */

/*
  Enables the transition
  */
.animation-repeat {
    -webkit-transition:5s linear all;
    -moz-transition:5s linear all;
    -o-transition:5s linear all;
    transition:5s linear all;
}

  /*
  Class added when a new element is added to ng-repeat
  */
 .ng-enter {
   opacity: 0;
 }

/*
  The ng-enter-active and ng-move-active
  are where the transition destination properties
  are set so that the animation knows what to
  animate.
*/
.animation-repeat.ng-enter.ng-enter-active,
.animation-repeat.ng-move.ng-move-active {
  opacity:1;
}

.exit_btn {
    display: block;
    float: right;
    border: none;
    background-color: rgb(40, 125, 178);
    color: white;
    border-radius: 20px;
    padding: 0.8em;
}

.exit_btn:hover {
    background-color: rgb(43, 133, 189);
}

ul#the_room_users li.room_users.ng-binding.ng-scope {
    cursor:pointer;
}

ul#the_room_users li.room_users.ng-binding.ng-scope:hover {
    color:#287DB2;
}
ul#the_room_users li.room_users.ng-binding.ng-scope:before {
    content: "\f007";
    font-family: FontAwesome;
    color: #AFFFED;
}

#site-menu h2 {
    display: inline-block;
    font-size: 1.8em;
}

#site-menu button#close_chat {
    margin-top: 1.2em;
    float: right;
    color: rgb(66, 139, 202);
    font-weight: 200;
    border-radius: 25px;
    padding: 0.5em 0.8em;
}

.private-message-form {
    border-top: solid 1px;
    margin-top: 1em;
}

.private-message-form span.ng-binding {
    font-size: 2em;
    margin-left: 1em;
    color: rgb(175, 255, 237);
}

.private-message-form input {
    border: none;
    padding: 0.5em;
    color: #154B6C;
    width: 80%;
    float: left;
}

.private-message-form button {
    width: 20%;
    margin: 0em;
    border: none;
    padding: 0.5em 0.6em;
    background-color: rgb(40, 125, 178);
    float: left;
}

.private-message-form button:hover {
    background-color: rgb(42, 134, 190);
}

#site-menu div#from {
    font-weight: 100;
    text-align: center;
    font-size: 2em;
}

.pMessage-container {
    padding: 5px;
    margin-top: 1em;
    background-color: rgb(129, 219, 252);
    border-radius: 7px;
}

.chat_operation {
    display:inline-block;
}

.chat_operation i {
    font-size: 1.7em;
    color:rgb(40, 125, 178);
}

.chat_operation:hover {
    cursor:pointer;
}

#room-password-form input {
    width:100%;
    color: rgb(40, 125, 178);
    border: none;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#room-password-form button {
    border: none;
    width: 100%;
    margin-bottom: 1em;
    background-color: rgb(40, 125, 178);
    padding: 0.5em;
}

#operations {
    float:right;
}


