<div class="container clearfix">
    <div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
        {{ errorMessage }}
    </div>

    <div class="chat_header_container">
        <h3 class="chat_header float_left">Hi <span class="chat_user">{{currentUser}}</span> - You are currently in : <span class="chat_user">{{ currentRoom }}</span></h3>
        <h3 class="chat_header chat_users">Users in this room</h4>
    </div>

    <div class="col-md-9 chat">
        <div ng-repeat="message in messages">
            <div class="single_message animation-repeat">
                <div class="msg_header clearfix">
                    <div class="msg_nick">{{message.nick}}</div>
                    <div class="msg_timestamp">{{message.timestamp | date:'MM/dd/yyyy @ h:mma'}}</div>
                </div>
                <div class="msg_content">{{message.message}}</div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list_of_things">
            <ul ng-repeat="user in currentUsers">
                <li>{{ user }}</li>
            </ul>
        </div>
        <button ng-click="partroom()" ng-show="inRoom">Leave Room</button>
    </div>

    <form class="create_room">
        <input id="footer_form" ng-model="message" />
        <button class="chat_btn create_btn" ng-click="sendmsg(room.id)">Send</button>
    </form>
</div>
