<div id="site-menu">

    <h2>Private Messages</h2>
    <button id="close_chat"ng-click="closePrivateMsgSidebar()">X</button>

    <div class="private-message-form clearfix">
        <div>Send message to: <span>{{pUser}}</span></div>

        <input ng-model="pMessage">
        <button ng-click="sendPrivateMessage()">Send</button>
    </div>

    <div class="pMessage-container" ng-repeat="msg in pMessages">
        <div id="from">{{msg.from}}</div>
        <div id="msg">{{msg.msg}}</div>
    </div>
</div>

<div class="container clearfix">

    <div class="chat_header_container">
        <h3 class="chat_header float_left">Hi <span class="chat_user">{{ currentUser }}</span> - You are currently in : <span class="chat_user">{{ currentRoom }}</span></h3>
        <h3 class="chat_header chat_users">Users in this room</h4>
    </div>

    <div class="col-md-9 chat">
        <div class="single_message animation-repeat" ng-repeat="message in messages">
            <div class="msg_header clearfix">
                <div class="msg_nick">{{message.nick}}</div>
                <div class="msg_timestamp">{{message.timestamp | date:'MM/dd/yyyy @ h:mma'}}</div>
            </div>
            <div class="msg_content"><p>{{message.message}}</p></div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list_of_things clearfix">
            <ul ng-repeat="op in currentOps">
                <li>{{ op }}
                    <div ng-show="isOp">
                        <div class="chat_operations" ng-click="deop( op )">de-op<i class="fa fa-times"></i></div>
                    </div>
                </li>
            </ul>
            <ul id="the_room_users" ng-repeat="user in currentUsers">
                <li ng-click="showPmessage(user)">{{ user }}</li>
                <div id="operations"ng-show="isOp">
                    <div class="chat_operation" ng-click="kick( user )"><i class="fa fa-times"></i></div>
                    <div class="chat_operation" ng-click="ban( user )"><i class="fa fa-ban"></i></div>
                    <div class="chat_operation" ng-click="op( user )"><i class="fa fa-thumbs-up"></i></div>
                </div>
            </ul>
        </div>

        <div id="room-password-form" ng-show="show_password_form">
            <form ng-hide="isPassword">
                <input placeholder="Enter password . . ." type="password" ng-model="pw1" />
                <input placeholder="Re-enter password . . ." type="password" ng-model="pw2" />
                <button class="pw_btn" ng-click="pw()">Set Password</button>
            </form>
            <div class="remove_pw" ng-show="isPassword" ng-click="rmpw()">Remove Password</div>
        </div>
    </div>

    <button ng-show="isOp" class="exit_btn" ng-click="show_password()">Set password</button>
    <button class="exit_btn" ng-click="partroom()" ng-show="inRoom">Leave Room</button>

    <form class="create_room">
        <div class="alert_message animated fadeIn" ng-cloak ng-show="errorMessage != ''">
            {{ errorMessage }}
        </div>

        <div class="alert_message animated fadeIn" ng-cloak ng-show="successMessage != ''">
            {{ successMessage }}
        </div>
        <input id="footer_form" ng-model="message" />
        <button class="chat_btn create_btn" ng-click="sendmsg(room.id)">Send</button>
    </form>
</div>
