<div class="container clearfix">
    <div class="top_of_page_container clearfix">
        <div class="chat_header_container">
            <h3 class="chat_header float_left">Hi <span class="chat_user">{{currentUser}}</span></h3>
        </div>

        <div class="available_rooms">
            <h3 class="chat_header float-right">Available chat rooms</h3>
        </div>
    </div>

    <div class="list_of_things">
        <ul ng-repeat="room in rooms">
            <li><a class="chat_list_item" ng-click="joinRoom( room )">{{ room }}</a></li>    
        </ul>
    </div>

    <div class="alert_message animated fadeIn fadeOut" ng-cloak ng-show="errorMessage != ''">
        {{ errorMessage }}
    </div>
    <div class="alert_message animated fadeIn fadeOut" ng-cloak ng-show="roomErrorMessage != ''">
        {{ roomErrorMessage }}
    </div>

    <!--<div ng-click="partRoom()" ng-show="inRoom">Leave Room</div>-->
    
    <form ng-show="isPassword">
        <input ng-model="roomPassword" />{{roomPassword}}
        <button ng-click="joinRoom( accessRoom, roomPassword )">Enter</button>
    </form>
    
    <form class="create_room">
        <input id="footer_form" placeholder="Create a new chat room . . . " ng-model="roomName" />
        <button class="chat_btn create_btn" ng-click="createRoom()">Create Room</button>
    </form>
</div>





<!-- Small modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="glyphicon glyphicon-plus"></i></button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="create_room">
                <input id="login_form" ng-model="roomName" />
                <button class="chat_btn login_button" ng-click="joinroom(roomName)">Create Room</button>
            </form>
        </div>
    </div>
</div> -->